.layout {
  margin: 0 auto;
  max-width: 2000px;
}

.fallback {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--black);
  letter-spacing: 0.5rem;
}

@media (max-width: 1090px) {
  .fallback {
    height: calc(100vh - 8rem);
  }
}
