.container {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s 0.2s ease-in-out;
}

.card {
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 70%;

  &__title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 5rem;
    font-weight: normal;
    border-bottom: 1px solid var(--black);
    letter-spacing: 1rem;
    color: var(--black);
    text-align: center;
  }

  &__image {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;

    * {
      border-radius: 2.4rem;
      box-shadow: 20px 20px 50px var(--black);
    }
  }

  &__info {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;

    &_detail {
      width: 100%;
      font-size: 2rem;
      font-weight: lighter;
      margin-bottom: 1rem;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1090px) {
  .container {
    height: calc(100vh - 8rem);
  }
}

@media (max-width: 780px) {
  .card {
    padding: 10px;
    grid-gap: 4rem;
    width: 100%;

    &__title {
      font-size: 3rem;
    }

    &__image {
      * {
        max-width: 190px;
      }
    }

  }
}

@media (max-height: 780px) {
  .container {
    height: auto;
  }
}
