:root {
  --black: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
}

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fbff;
}

@media (max-width: 1270px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1090px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
